{% extends "food/base.html" %}

{% block content %}
	<img class="rounded-circle article-img" src="{{ post.author.profile.image.url}}">


		<div id="bg">
			<img src="{% static 'food/img/layer_2.png' %}">
		</div>


		<div id="layer_6"><img src="{% static 'food/img/layer_6.png' %}"></div>
		<div id="SALESCOUPONS"><img src="{% static 'food/img/SALESCOUPONS.png' %}"></div>
		<div id="Ourcouponsprovideacc"><img src="{% static 'food/img/Ourcouponsprovideacc.png' %}"></div>
		<div id="layer_9"><img src="{% static 'food/img/layer_9.png' %}"></div>
		<div id="CURRENTSALE"><img src="{% static 'food/img/CURRENTSALE.png' %}"></div>
		<div id="layer_10"><img src="{% static 'food/img/layer_10.png' %}"></div>
		<div id="layer_13"><img src="{% static 'food/img/layer_13.png' %}"></div>
		<div id="layer_11"><img src="{% static 'food/img/layer_11.png' %}"></div>
		<div id="layer_12"><img src="{% static 'food/img/layer_12.png' %}"></div>
		<div id="layer_15"><img src="{% static 'food/img/layer_15.png' %}"></div>
		<div id="layer_16"><img src="{% static 'food/img/layer_16.png' %}"></div>
		<div id="TEISTERFRIES"><img src="{% static 'food/img/TEISTERFRIES.png' %}"></div>
		<div id="layer_17"><img src="{% static 'food/img/layer_17.png' %}"></div>
		<div id="layer_18"><img src="{% static 'food/img/layer_18.png' %}"></div>
		<div id="layer_19"><img src="{% static 'food/img/layer_19.png' %}"></div>
		<div id="layer_20"><img src="{% static 'food/img/layer_20.png' %}"></div>
		<div id="layer_21"><img src="{% static 'food/img/layer_21.png' %}"></div>
		<div id="ZIINGERFRIES"><img src="{% static 'food/img/ZIINGERFRIES.png' %}"></div>
		<div id="MEGAPOCKETFRIES"><img src="{% static 'food/img/MEGAPOCKETFRIES.png' %}"></div>
		<div id="WATCHTHISSPACE"><img src="{% static 'food/img/WATCHTHISSPACE.png' %}"></div>
		<div id="layer_23"><img src="{% static 'food/img/layer_23.png' %}"></div>
		<div id="OURMENU"><img src="{% static 'food/img/OURMENU.png' %}"></div>
		<div id="layer_27"><img src="{% static 'food/img/layer_27.png' %}"></div>
		<div id="layer_24"><img src="{% static 'food/img/layer_24.png' %}"></div>
		<div id="Burgers"><img src="{% static 'food/img/Burgers.png' %}"></div>
		<div id="layer_26"><img src="{% static 'food/img/layer_26.png' %}"></div>
		<div id="Chicken"><img src="{% static 'food/img/Chicken.png' %}"></div>
		<div id="layer_28"><img src="{% static 'food/img/layer_28.png' %}"></div>
		<div id="icecream"><img src="{% static 'food/img/icecream.png' %}"></div>
		<div id="layer_29"><img src="{% static 'food/img/layer_29.png' %}"></div>
		<div id="layer_30"><img src="{% static 'food/img/layer_30.png' %}"></div>
		<div id="drink"><img src="{% static 'food/img/drink.png' %}"></div>
		<div id="Cake"><img src="{% static 'food/img/Cake.png' %}"></div>
		<div id="layer_31"><img src="{% static 'food/img/layer_31.png' %}"></div>
		<div id="layer_32"><img src="{% static 'food/img/layer_32.png' %}"></div>
		<div id="ACCOUNTLOGIN"><img src="{% static 'food/img/ACCOUNTLOGIN.png' %}"></div>
		<div id="layer_33"><img src="{% static 'food/img/layer_33.png' %}"></div>
		<div id="ORDERBYPHONE80149494"><img src="{% static 'food/img/ORDERBYPHONE80149494.png' %}"></div>
	</div>

	<footer>
		<div class="container-fluid" style="margin-left: 15px">

			<p>
				<a href="#" target="_blank">Contact</a> | <a href="#" target="_blank">Instagram</a> |
				<a href="#" target="_blank">Youtube channel</a> | <a href="#" target="_blank">Google Photos</a>
			</p>

		</div>
	</footer>
{% endblock content %}
